[Unit]
Description=Stickysonic Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /stickysonicsetup/src/gui.py
Restart=always

[Install]
WantedBy=multi-user.target